*{
	font-family:Helvetica;
	font-size:14px;
	color:#2d2d2d;
	padding:0;
	margin:0;
	/*border: 1px solid black;*/
}
#atas{
	top:0;
	width:90%;
	height:auto;
	box-shadow:0px 0px 10px #2d2d2d;
	background-color:#FFF;
	color:white;
	transition:0.4s ease;
	padding:10px 5%;
}
.title{

}
.img-atas{
	width:40px;
	height:auto;
}
.menu{
	float:right;
	list-style:none;
}
.menu-btn{
	
}
.menu li{
	display:inline-block;
}
.menu li a{
	font-weight:bold;
	display:block;
	line-height:44px;
	padding:0 14px;
	text-decoration:none;
	transition:0.4s ease;
}
.menu li a:hover{
	background-color:#eaeaea;
}
#tengah{
	width:100%;
	clear:both;
	position:absolute;
}
.fixed {
	background-color:#FF1744 !important;
	position:fixed;
	width:100%;
	z-index:999;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	/*-webkit-transform: translateY(200px);
	-ms-transform: translateY(200px);
	-o-transform: translateY(200px);
	transform: translateY(200px);*/
}
.fixed a{
	color:white;
}
.fixed a:hover{
	background-color:#BB1744 !important;
}
.bg-info{
	background-color:#fff;
	height:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-info-1{
	background-color:#4f4f4f;
	height:100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-1{
	background-image: url('bg-1.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-2{
	background-image: url('bg-2.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-3{
	background-image: url('bg-3.jpg');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.isi{
	width:80%;
	margin:0 auto;
	padding:5% 0;
}
.list-instru{
	width: 100px;
	background-color: white;
	border-radius: 20%;
	padding: 5%;
}
.tb-umum{
	text-align:center;
	width: 50%;
	margin:0 auto;
}
.tb-umum td img{
	width: 25%;
}
.btn{
	margin:0 auto;
	padding:10px 25px;
	background-color:#2288cc;
	color:white;
	font-weight:bold;
	font-size:100%;
	border-radius:5px;
	text-decoration:none;
	transition:0.2s ease;
}
.btn a{
	text-decoration:none;
}
.btn:hover{
	padding:5px 50px;
	background-color:#fff;
	color:#2d2d2d;
}
.btn:active{
	padding:10px 25px;
	transition:0.1s ease;
}
.judul{
	padding:5% 0;
	text-align:center;
	font-size:60px;
	color:#fff;
	text-transform:uppercase;
}
.info{
	padding:5% 0;
	text-align:center;
	font-size:40px;
	color:#4d4d4d;
	text-transform:uppercase;
}
.info1{
	padding:5% 0;
	text-align:center;
	font-size:40px;
	color:#fff;
	text-transform:uppercase;
}
.info-p{
	text-align:center;
	font-size:20px;
	color:#4d4d4d;
}
.info-p1{
	text-align:center;
	font-size:20px;
	color:#fff;
}
@media screen and (min-width:800px){
	.btn-menu{
		display:none;
	}
	.menu{
		display:block;
	}
	.menu ul li{
		display:inline-block;
		list-style:none;
	}
}
@media screen and (max-width:800px){
	#atas{
		display:block;
	}
	.menu{
		
	}
	.menu li{
		display:none;
	}
	.btn-menu{
		display:block;
	}
}